<!DOCTYPE html>
{% block html %}
    <html lang="zh-cn">
{% endblock %}
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
    <meta name="renderer" content="webkit"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="" />
    {% block extrameta %}{% endblock %}

    <title>{% block title %}{% endblock %}</title>

    {% block blockbots %}
        <meta name="robots" content="ALL"/>
    {% endblock %}

    {% block siteicons %}
        <link rel="icon" href="/static/images/favicon.ico" type="image/x-icon"/>
        <link rel="shortcut icon" href="/static/images/favicon.ico" type="image/x-icon"/>
    {% endblock %}

    {% block extrahead %}{% endblock %}
    {% block css %}{% endblock %}
    {% block extracss %}{% endblock %}

    {% block heaserjs %}{% endblock %}
</head>

<body {% block bodyclass %}{% endblock %}>
{% block mainbody %}
    {% block beforepage %}{% endblock %}
    {% block top %}{% endblock %}
    {% block otheraftertop %}{% endblock %}
    {% block bodybox %}{% endblock %}
    {% block footer %}{% endblock %}
{% endblock %}

{% block otheraftermain %}{% endblock %}
{% block js %}{% endblock %}
{% block extrajs %}{% endblock %}
</body>
</html>
